* text=auto
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.csv text eol=lf
/.github export-ignore
/tests export-ignore
/tools export-ignore
/requirements-dev.txt export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
